html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Evolve Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@font-face {
	font-family: 'Evolve Sans';
	font-style: normal;
	src: url('/fonts/Evolve.otf') format('opentype');
}
